<!DOCTYPE html>
<html>
  <head>
    <title>Golang Meetup Map</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
    </nav>
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col m-1">
          <h1 class="display-1">Golang Meetup Map</h1>
        </div>
      </div>
      <div class="row text-center">
        <div class="col m-1">
          <div id="map"></div>
        </div>
      </div>
      <hr>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Meetup (Click To Show On Map)</th>
              <th scope="col">Date</th>
              <th scope="col">Website</th>
            </tr>
          </thead>
          <tbody>
            {{range .Meetups}}
            <tr>
              <td><span class="pointer" onclick="flyTo({{ .Latitude}}, {{ .Longitude}})"><i class="bi bi-geo-alt-fill"></i> {{ .Name}}</span></td>
              <td>{{ .Date}}</td>
              <td><a href="{{ .Link}}" target="_blank">{{ .Link}}</a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      <hr>
      <div class="row">
        <h1>Want To Add Your Meetup?</h1>
      </div>
      <div class="row">
        <p>
          If you have a meetup that you want to add to the Map, check out the <a href="https://github.com/jaminologist/golang-meetup-map">Readme.md</a>. It is as simple as opening a pull request and adding it to our 
          <a href="https://github.com/jaminologist/golang-meetup-map/blob/main/docs/meetups.csv">meetups.csv</a>. 
        </p>
      </div>
      <div class="row">
        <p>
          Once merged into master, your meetup will be automatically added to the Map!
        </p>
      </div> 
      <hr>
    </div>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex">
          <span class="text-muted">Jaminologist</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="https://twitter.com/jaminologist"><i class="bi bi-twitter"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://github.com/jaminologist/golang-meetup-map"><i class="bi bi-github"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://www.jaminologist.com/"><i class="bi bi-globe"></i></a></li>
        </ul>
      </footer>
    </div>
  </body>
  <script>
    var map = L.map("map").setView([51.505, -0.09], 13);
    var tiles = L.tileLayer(
      "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
      {
        maxZoom: 19,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }
    ).addTo(map);

    // This section loops over the Meetups and puts the markers on the Map
    {{range .Meetups}}
      var icon = L.icon({
      iconUrl: "icons/{{ .Icon}}",
      iconSize: [40, 40],
      popupAnchor: [0, -20]
          });
       var latitude = "{{ .Latitude}}"
       var longitude = "{{ .Longitude}}"
       var marker = L.marker([latitude, longitude], {icon: icon})
      .addTo(map)
      .bindPopup("<b><a href=\"{{ .Link}}\" target=\"_blank\">{{ .Name}}</a></b></br>{{ .Date}}");
      marker.on('mouseover',function() {
        this.openPopup();
      });
      marker.on('mouseout',function() {
        this.closePopup();
      });
    {{end}}

    function flyTo(latitude, longitude) {
      map.flyTo([latitude, longitude], 14)
    }
  </script>
</html>
